.form-input {
    input {
        height: 30px;
        width: 100%;
        border: 1px solid #dedede;
    }
    input[disabled] {
        background: #e2e1e0;
        color: black;
    }
    .form-input-message {
        font-size: 12px;
    }
}
