.login-section {
    max-width: 350px;
    width: 90%;
    box-shadow: 0px 0px 4px #888888;

    .login-section-header {
        font-size: 20px;
    }

    .login-section-submit {
        background: #ef4538;
        color: #fff;
        height: 45px;
        border-radius: 5px;
    }
}
